.carouselNew > .carousel-indicators {
  fill: black;
}

.carousel-item > img {
  display: block;
  object-fit: contain;
  width: 100%;
}

.carouselNew > a {
  height: 30rem;
}

.carousel-item > .carousel-caption {
  position: unset;
  display: flex;
  justify-content: center;
  color: black;
  margin: 2rem 0;
}

.carousel-item__title {
  font-size: 2em;
  text-align: left;
}

.content-container {
  text-align: left;
  line-height: 1.5em;
  margin-top: 2em;
}

.newContent {
  font-size: 1.2rem;
}

.btn-news {
  width: max-content !important;
  background-color: var(--primary-color) !important;
  border-radius: 10px !important;
  border: none !important;
  font-size: 1.2rem !important;
  padding: 0.6rem 1.2rem !important;
  z-index: 100;
}

@media only screen and (min-width: 1000px) {
  .carousel-item > img {
    height: 35vw;
  }

  .carouselNew > a {
    height: 35vw;
  }

  .newContent {
    font-size: 1.6vw;
  }

  .btn-news {
    font-size: 1.6vw !important;
    padding: 0.8vw 1.6vw !important;
  }
}

@media only screen and (max-width: 450px) {
  .carousel-item__title {
    font-size: 2rem;
  }

  .newContent {
    font-size: 0.8rem;
  }

  .btn-news {
    font-size: 0.8rem !important;
    padding: 0.4rem 0.8rem !important;
  }
}
